{% load static %}
<nav >
    <div class="menu">
      <label for="menu-checkbox">
        <div class="mobile-menu"> </div>
      </label>
     <input type="checkbox" id="menu-checkbox">
      <ul class="nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Politice</a></li>
        <li><a href="#">World news</a></li>
        <li><a href="#">Entertainment</a></li>
      </ul>
    </div>
      <div class="logo">
      
       <img src="{% static 'logo/logo.jpg' %}" alt="">
      </div>
    </nav>
    