<section class="marqeeslide">
    <button class="breakingbtn">breaking </button>
    <div class="marquee-container">
        <div class="marquee">
          <span>Text to scroll</span>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi nemo atque, molestiae sunt, perferendis quidem dolore, quis error laborum eius quam cum esse! Maiores fugit accusantium commodi minima iste.</span>
          <span>Text to scroll</span>
          <span>Text to scroll</span>
        </div>
      </div>
        
</section>